<div class="inner">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm" ng-controller="messageCtrl">
            <div class="row">
               <h2>Messages:</h2>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-6 align-center">
                    <input type="radio" id="material" name="categorie" ng-model="categorie" ng-value="false">
                    <label for="material">Received</label>
                </div>
                <div class="col-sm-6 align-center">
                    <input type="radio" id="services" name="categorie" ng-model="categorie" ng-value="true">
                    <label for="services">Sent</label>
                </div>
            </div>


        </div>
        <div class="col-sm-1"></div>
    </div>
</div>